<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ESLint setup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <script src="/vendors/vue.min.js"></script>
    <!-- <script src="/vendors/vue.js"></script> -->
    <script src="/vendors/highlight.min.js"></script>
    <link rel="stylesheet" href="/vendors/water.min.css">
    <link rel="stylesheet" href="/vendors/monokai.min.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
      body {
        margin-bottom: 150px;
        font-family: 'Quicksand', 'Century Gothic', sans-serif;
        font-optical-sizing: auto;
        font-size: 120%;
        font-style: normal;
        font-weight: 500;
      }
      h1, h2 {
        font-family: 'Alice', Georgia, serif;
        font-weight: 400;
        font-style: normal;
      }
      h1 {
        font-size: 70px;
      }
      h3 {
        font-family: 'Alata', sans-serif;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 2.5px;
        line-height: 1.3;
        text-shadow: 1px 0px 0px #0000007A, -1px 0px 0px #0000007A;
      }
      code,
      pre {
        font-family: 'DM Mono', 'Share Tech Mono', monospace;
        font-weight: 400;
        font-style: normal;
        font-size: 88%;
      }
      li {
        line-height: 1.5;
      }
      input[type="checkbox"]:active {
        transform: translateY(0px);
      }
      [v-cloak] {
        display: none;
      }
      .controls > span {
        display: inline-block;
        margin-right: 30px;
        border: 1px solid #34465B;
        border-radius: 7px;
        margin-bottom: 10px;
        padding: 0px 7px 3px 3px;
      }
      .controls label:not(:first-of-type) {
        margin-left: 10px;
      }
      .controls > ul > li,
      .controls ul label {
        font-weight: bold;
      }
      .controls ul label:after {
        content: ' - ';
      }
      .controls > ul > li > ul > li {
        font-weight: normal;
      }
      .alert {
        background: #443D6C;
        border-width: 0px 0px 0px 5px;
        border-style: solid;
        border-color: #FFBE85;
        margin: 20px 0px;
        padding: 1px 25px 12px;
        font-family: 'Alata', sans-serif;
        font-size: 120%;
        line-height: 1.6;
        box-shadow: 0px 0px 6px #0005, 6px 6px 6px #0005;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <h1>ESLint Config Automator</h1>
      <p>ESLint 9+ rules for ESM projects.</p>

      <h2>Prequisites</h2>
      <ol>
        <li>
          Use <a href="https://volta.sh">Volta</a> to install Node/npm
        </li>
        <li>
          If you don't have a <code>package.json</code> do <code>npm init -y</code> first
        </li>
        <li>
          Run <code>npm pkg set type=module</code>
        </li>
        <li>
          Create an <code>eslint.config.js</code> next to the <code>package.json</code>
        </li>
        <li>
          Run <code>npm pkg set scripts.lint="eslint *.js src"</code>
          <ul>
            <li>
              Change <code>*.js src</code> to your files and folders you want to be linted
            </li>
          </ul>
        </li>
      </ol>

      <h2>
        6. Check the boxes below for what linting rules/plugins you want:
        <span style="float: right; padding-top: 10px; font-size: 50%">
          <check-box v-model="showInfo">Show details</check-box>
        </span>
      </h2>


      <div v-if="!showInfo" class="controls">
        <span>
          <check-box v-model="js">JS</check-box>
          <check-box v-model="tjwJs">TJW JS</check-box>
        </span>
        <span>
          <check-box v-model="Import">ESM Import</check-box>
          <check-box v-model="tjwImport">TJW Import</check-box>
          <check-box v-model="importAlias">Import Alias</check-box>
        </span>
        <span>
          <check-box v-model="vue2">Vue 2</check-box>
          <check-box v-model="vue3">Vue 3</check-box>
          <check-box v-model="tjwVue">TJW Vue</check-box>
          <check-box v-model="vueA11y">Vue A11Y</check-box>
        </span>
        <span>
          <check-box v-model="tjwJsdoc">TJW JSDoc</check-box>
        </span>
        <span>
          <check-box v-model="tjwJest">TJW Jest</check-box>
          <check-box v-model="tjwVitest">TJW Vitest</check-box>
        </span>
      </div>

      <div v-else class="controls">
        <ul>
          <li>
            JavaScript
            <ul>
              <li>
                <check-box v-model="js">JS</check-box>
                Official ESLint recommended settings that handle error prevention, but nothing style related
              </li>
              <li>
                <check-box v-model="tjwJs">TJW JS</check-box>
                The Jared Wilcurt's Premium JavaScript settings, with stylistic enforcements, for classy, sophisticated developers.
              </li>
            </ul>
          </li>
          <li>
            ESM Imports
            <ul>
              <li>
                  <check-box v-model="Import">Imports Plugin</check-box>
                  This plug-in adds many features for detecting issues around ESM imports and exports, including if a variable being exported is imported in other files.
              </li>
              <li>
                  <check-box v-model="tjwImport">TJW Import</check-box>
                  The Jared Wilcurt's settings for the custom rules supplied by the Imports plugin.
              </li>
              <li>
                  <check-box v-model="importAlias">Import Alias</check-box>
                  Allows defining your own custom file import path aliases so the Imports plugin can resolve them during linting.
              </li>
            </ul>
          </li>
          <li>
            Vue.js Linting
            <ul>
              <li>
                <check-box v-model="vue2">Vue 2</check-box>
                The official Vue.js 2.x ESLint plugin with custom rules for Vue.
              </li>
              <li>
                <check-box v-model="vue3">Vue 3</check-box>
                The official Vue.js 3.x ESLint plugin with custom rules for Vue.
              </li>
              <li>
                <check-box v-model="tjwVue">TJW Vue</check-box>
                The Jared Wilcurt's more strict and refined recommended settings for the Vue plugin's rules.
              </li>
              <li>
                <check-box v-model="vueA11y">Vue A11Y</check-box>
                A plugin for checking Accessibility issues in Vue components.
              </li>
            </ul>
          </li>
          <li>
            JSDocs
            <ul>
              <li>
                <check-box v-model="tjwJsdoc">TJW JSDoc</check-box>
                The Jared Wilcurt's <a href="https://github.com/tjw-lint/eslint-config-tjw-jsdoc?tab=readme-ov-file#what-does-it-look-like">highly customized and pristine settings</a> for JSDoc comment blocks to improve readability and enforce accurate function/argument documentation and type declarations. A <em>perfect</em> replacement for <a href="https://dev.to/thejaredwilcurt/ts-is-bad-at-hover-text-3n0j" title="TS is bad at hover text (DEV.to)">TypeScript</a>.
              </li>
            </ul>
          </li>
          <li>
            Unit Testing
            <ul>
              <li>
                <check-box v-model="tjwJest">TJW Jest</check-box>
                This plugin extends the recommended Jest Lint settings. It adds 5 new custom linting rules exclusive to the library for an improved testing experience.
              </li>
              <li>
                <check-box v-model="tjwVitest">TJW Vitest</check-box>
                This is the same as TJW Jest, we just make a few tweaks to be compatible with Vitest.
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div v-if="tjwImport" class="alert">
        <h3>Important:</h3>
        <p>
          You will also need to create an empty <code>.eslintrc.cjs</code> file next to your <code>package.json</code>,
          due to a <a href="https://github.com/import-js/eslint-plugin-import/issues/3079">known bug</a> with the import
          linting plugin.
        </p>
      </div>

      <h2>7. Run this:</h2>
      <pre style="white-space:pre-wrap"><code v-html="npmInstall"></code></pre>
      <h2>8. Put this in your <code>eslint.config.js</code>:</h2>
      <pre><code v-html="eslintConfig"></code></pre>
      <h2>9. Run <code>npm run lint</code></h2>

      <hr>

      <h2>Documentation links</h2>

      <ul>
        <li><a href="https://eslint.org">ESLint</a></li>
        <li v-if="tjwJs"><a href="https://eslint.style">ESLint Stylistic</a></li>
        <li v-if="tjwJs"><a href="https://github.com/sindresorhus/globals/blob/main/globals.json">Globals</li>
        <li v-if="Import"><a href="https://github.com/import-js/eslint-plugin-import">ESLint Plugin Import</li>
        <li v-if="tjwJest || tjwVitest"><a href="https://github.com/jest-community/eslint-plugin-jest">ESLint Plugin Jest</a></li>
        <li v-if="tjwJsdoc"><a href="https://github.com/gajus/eslint-plugin-jsdoc">ESLint Plugin JSDoc</a>
        <li v-if="vue2 || vue3"><a href="https://eslint.vuejs.org">ESLint Plugin Vue</a>
        <li v-if="vueA11y"><a href="https://vue-a11y.github.io/eslint-plugin-vuejs-accessibility">ESLint Plugin Vue Accessibility</a></li>
        <li v-if="importAlias"><a href="https://github.com/pzmosquito/eslint-import-resolver-vite">ESLint Vite Import Resolver</a></li>
        <li v-if="tjwJs"><a href="https://github.com/tjw-lint/eslint-config-tjw-base">TJW Base (JS)</a></li>
        <li v-if="tjwImport"><a href="https://github.com/tjw-lint/eslint-config-tjw-import">TJW Import</a></li>
        <li v-if="tjwJest"><a href="https://github.com/tjw-lint/eslint-config-tjw-jest">TJW Jest</a></li>
        <li v-if="tjwJsdoc"><a href="https://github.com/tjw-lint/eslint-config-tjw-jsdoc">TJW JSDoc</a></li>
        <li v-if="tjwVue"><a href="https://github.com/tjw-lint/eslint-config-tjw-vue">TJW Vue</a></li>
      </ul>
    </div>

    <script>
      let checkboxes = [];

      const app = Vue.createApp({
        components: {
          CheckBox: {
            template: [
              '<label>',
              '<input ',
              ':checked="modelValue" ',
              'type="checkbox" ',
              '@input="$emit(\'update:modelValue\', $event.target.checked)">',
              '<slot></slot>',
              '</label>'
            ].join(''),
            props: ['modelValue']
          }
        },
        data: function () {
          const data = {
            showInfo: false,
            Import: false,
            importAlias: false,
            js: false,
            tjwImport: false,
            tjwJs: false,
            tjwJest: false,
            tjwVitest: false,
            tjwJsdoc: false,
            tjwVue: false,
            vueA11y: false,
            vue2: false,
            vue3: false
          };
          checkboxes = Object.keys(data);
          return data;
        },
        methods: {
          parseUrlQueryParams: function () {
            // '?checked=[js,tjwJs]&x=y'
            const rawQueries = window.location.search;

            // ['checked=[js,tjwJs]', 'x=y'] => 'checked=[js,tjwJs]'
            const queries = rawQueries
              .replace('?', '')
              .split('&')
              .filter((query) => {
                return query.startsWith('checked=');
              })
              .join('');

            // 'checked=[js,tjwJs]' => ['js', 'tjwJs']
            const checked = queries
              .replace('checked=[', '')
              .replace(']', '')
              .split(',');

            for (const box of checked) {
              this[box] = true;
            }
          },
          setUrlQueryParams: function (queryParams) {
            window.history.replaceState(null, '', queryParams);
          }
        },
        computed: {
          queryParams: function () {
            const checked = checkboxes
              .filter((box) => {
                return this[box];
              })
              .sort()
              .join(',');
            const queryParam = '?checked=[' + checked + ']';
            return queryParam;
          },
          npmInstall: function () {
            let output = [];
            output.push('npm install --save-dev eslint@9');
            if (this.js) {
              output.push('@eslint/js');
            }
            if (this.tjwJs) {
              output.push('@stylistic/eslint-plugin-js');
              output.push('globals');
            }
            if (this.tjwJsdoc) {
              output.push('eslint-plugin-jsdoc');
            }
            if (
              this.Import ||
              this.tjwImport ||
              this.importAlias
            ) {
              output.push('eslint-plugin-import');
            }
            if (this.importAlias) {
              output.push('eslint-import-resolver-vite');
            }
            if (this.vue2 || this.vue3) {
              output.push('eslint-plugin-vue');
            }
            if (this.vueA11y) {
              output.push('eslint-plugin-vuejs-accessibility');
            }
            if (this.tjwJest || this.tjwVitest) {
              output.push('eslint-plugin-jest');
            }
            if (
              this.tjwJs ||
              this.tjwJest ||
              this.tjwVitest ||
              this.tjwJsdoc ||
              this.tjwImport ||
              this.tjwVue
            ) {
              output.push('&& npm install --save-dev');
            }
            if (this.tjwJs) {
              output.push('eslint-config-tjw-base');
            }
            if (this.tjwImport) {
              output.push('eslint-config-tjw-import');
            }
            if (this.tjwVue) {
              output.push('eslint-config-tjw-vue');
            }
            if (this.tjwJest || this.tjwVitest) {
              output.push('eslint-config-tjw-jest');
            }
            if (this.tjwJsdoc) {
              output.push('eslint-config-tjw-jsdoc');
            }
            const markup = output
              .join(' ')
              // .replaceAll('/', '<span class="hljs-tag">/</span>')
              // .replaceAll(' @', '__TEMP__')
              // .replaceAll('@', '<span class="hljs-number">@</span>')
              // .replaceAll('__TEMP__', ' @')
              // .replaceAll('@stylistic/', '<span class="hljs-link">@stylistic/</span>')
              // .replaceAll('@eslint/', '<span class="hljs-link">@eslint/</span>')
              .replaceAll('npm ', '<span class="hljs-literal">npm</span> ')
              .replaceAll(' install ', ' <span class="hljs-attribute">install</span> ')
              .replaceAll(' --save-dev ', ' <span class="hljs-attribute">--save-dev</span> ')
              .replaceAll(' && ', ' <span class="hljs-title">&&</span> ');
            return '<span class="hljs-string">' + markup + '</span>';
          },
          eslintConfig: function () {
            const lines = [];
            if (this.importAlias) {
              lines.push('import path from \'node:path\';');
              lines.push('');
            }
            if (this.js) {
              lines.push('import pluginJs from \'@eslint/js\';');
            }
            if (this.tjwJs) {
              lines.push('import tjwBase from \'eslint-config-tjw-base\';');
            }
            if (this.tjwImport) {
              lines.push('import tjwImport from \'eslint-config-tjw-import\';');
            }
            if (this.tjwJest || this.tjwVitest) {
              lines.push('import tjwJest from \'eslint-config-tjw-jest\';');
            }
            if (this.tjwJsdoc) {
              lines.push('import tjwJsdoc from \'eslint-config-tjw-jsdoc\';');
            }
            if (this.tjwVue) {
              lines.push('import tjwVue from \'eslint-config-tjw-vue\';');
            }
            if (this.Import) {
              lines.push('import pluginImport from \'eslint-plugin-import\';');
            }
            if (this.tjwJest || this.tjwVitest) {
              lines.push('import pluginJest from \'eslint-plugin-jest\';');
            }
            if (this.vue2 || this.vue3) {
              lines.push('import pluginVue from \'eslint-plugin-vue\';');
            }
            if (this.vueA11y) {
              lines.push('import pluginVueA11y from \'eslint-plugin-vuejs-accessibility\';');
            }
            lines.push('');
            if (this.importAlias) {
              lines.push('');
              lines.push('const __dirname = import.meta.dirname;');
            }
            if (this.vue2) {
              lines.push('const vue2Recommended = pluginVue.configs[\'flat/vue2-recommended\'];');
            }
            if (this.vue3) {
              lines.push('const vue3Recommended = pluginVue.configs[\'flat/recommended\'];');
            }
            if (this.vueA11y) {
              lines.push('const vueA11yRecommended = pluginVueA11y.configs[\'flat/recommended\'];');
            }
            lines.push('');
            lines.push('export default [');
            if (this.js) {
              lines.push('  pluginJs.configs.recommended,');
            }
            if (this.Import) {
              lines.push('  pluginImport.flatConfigs.recommended,');
            }
            if (this.tjwJest || this.tjwVitest) {
              lines.push('  pluginJest.configs[\'flat/recommended\'],');
            }
            if (this.vue2) {
              lines.push('  ...vue2Recommended,');
            }
            if (this.vue3) {
              lines.push('  ...vue3Recommended,');
            }
            if (this.vueA11y) {
              lines.push('  ...vueA11yRecommended,');
            }
            if (this.tjwJs) {
              lines.push('  tjwBase.configs.recommended,');
            }
            if (this.tjwImport) {
              lines.push('  tjwImport,');
            }
            if (this.tjwJsdoc) {
              lines.push('  ...tjwJsdoc,');
            }
            if (this.tjwJest || this.tjwVitest) {
              lines.push('  tjwJest.configs.recommended,');
            }
            if (this.tjwVue) {
              lines.push('  tjwVue,');
            }
            lines.push('  {');
            lines.push('    // project specific rules/settings');
            if (this.vueA11y && !this.tjwVitest) {
              lines.push('    rules: {');
              lines.push('      \'vuejs-accessibility/label-has-for\': [');
              lines.push('        \'error\',');
              lines.push('        {');
              lines.push('          components: [\'Label\'],');
              lines.push('          required: {');
              lines.push('            some: [\'nesting\', \'id\']');
              lines.push('          },');
              lines.push('          allowChildren: false');
              lines.push('        }');
              lines.push('      ]');
              if (this.importAlias) {
                lines.push('    },');
              } else {
                lines.push('    }');
              }
            }
            if (this.tjwVitest && !this.vueA11y) {
              lines.push('    languageOptions: {');
              lines.push('      globals: {');
              lines.push('        vi: true');
              lines.push('      }');
              lines.push('    },');
              lines.push('    rules: {');
              lines.push('      // If this is not turned off, linting throws because it can\'t find \'jest\' install');
              lines.push('      \'jest/no-deprecated-functions\': \'off\'');
              if (this.importAlias) {
                lines.push('    },');
              } else {
                lines.push('    }');
              }
            }

            if (this.tjwVitest && this.vueA11y) {
              lines.push('    languageOptions: {');
              lines.push('      globals: {');
              lines.push('        vi: true');
              lines.push('      }');
              lines.push('    },');
              lines.push('    rules: {');
              lines.push('      // If this is not turned off, linting throws because it can\'t find \'jest\' install');
              lines.push('      \'jest/no-deprecated-functions\': \'off\',');
              lines.push('      \'vuejs-accessibility/label-has-for\': [');
              lines.push('        \'error\',');
              lines.push('        {');
              lines.push('          components: [\'Label\'],');
              lines.push('          required: {');
              lines.push('            some: [\'nesting\', \'id\']');
              lines.push('          },');
              lines.push('          allowChildren: false');
              lines.push('        }');
              lines.push('      ]');
              if (this.importAlias) {
                lines.push('    },');
              } else {
                lines.push('    }');
              }
            }

            if (this.importAlias) {
              lines.push('    settings: {');
              lines.push('      \'import/resolver\': {');
              lines.push('        vite: {');
              lines.push('          viteConfig: {');
              lines.push('            resolve: {');
              lines.push('              alias: {');
              lines.push('                \'@\': path.resolve(__dirname, \'src\'),');
              lines.push('                \'@@\': path.resolve(__dirname, \'tests\'),');
              lines.push('                \'@@@\': path.resolve(__dirname, \'docs\')');
              lines.push('              }');
              lines.push('            }');
              lines.push('          }');
              lines.push('        }');
              lines.push('      }');
              lines.push('    }');
            }
            lines.push('  }');
            lines.push('];');
            const output = lines.join('\n').trim().replaceAll('\n\n\n', '\n\n');
            const markup = hljs.highlight(output, { language: 'js' });
            return markup.value;
          }
        },
        watch: {
          queryParams: function () {
            this.setUrlQueryParams(this.queryParams);
          }
        },
        created: function () {
          this.parseUrlQueryParams();
        }
      }).mount('#app');
    </script>
  </body>
</html>
